.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-test {
  background-color: rgb(227, 227, 227);
  height: 25vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

.logo-test {
  width: 6.9vw;
  height: 6.9vw;
  background-color: rgb(0, 0, 0);
  border: 2px dashed rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: white;
  margin-top: 2.6vw;
  margin-bottom: 1vw;
}

.button-container-test {
  width: 100%;
  box-sizing: border-box;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-test {
  width: 25vw;
  height: 10vw;
  border: 2px dashed rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-test {
  width: 100%;
  height: 52vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  box-sizing: border-box;
  border: 2px dashed rgb(255, 255, 255);
}

.play-button-test {
  width: 8vw;
  height: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px dashed rgb(0, 0, 0);
}

.play-button-arrow-right-test {
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  border-left: 2vw solid rgb(0, 0, 0);
  box-sizing: border-box;
}

.contacts-section-test {
  background-color: rgb(227, 227, 227);
  height: 49vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
}

.App-header {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
